= render "carousel"
.container
  .jumbotron.text-center.mb-0
    %h2.h1= t('welcome')
    .mb-res-50
      %p.in-grey-600= t('store_info')
    = link_to @category, class: "btn btn-default" do
      = t('get_start')
  .mb-35
    %h3= t('best_sellers') if @best_sellers.any?
    .row
      - @best_sellers.each do |book|
        = render partial: "shared/book", locals: {book: book}
