%main.container.general-main-wrap
  %h1.general-title-margin= "Order " + @order.track_number
  .row.mb-20
    = render partial: "checkouts/address_info", locals: {type: "shipping", edit: false}
    = render partial: "checkouts/address_info", locals: {type: "billing", edit: false}
    .col-sm-3
      %h3.general-subtitle.mt-0 Shipments
      %p.general-address
        = @order.delivery.name
    .col-sm-3
      %h3.general-subtitle.mt-0 Payment Information
      %p.general-address
        = "**** **** **** #{@order.credit_card.card_number[-4..-1]}"
        %br
        = @order.credit_card.mm_yy
  .visible-xs
    = render "checkouts/mobile_items"
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        = render "checkouts/items"
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render "checkouts/summary"