%main.container
  %a.general-back-link{href: "#{session[:forwarding_url]}"}
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  = render @book
  .mb-80
    - if @book.reviews.any?
      %h3.in-gold-500.mb-25= "Reviews (#{@book.reviews.count})"
    %ul.media-list
      = render @book.reviews
    - if signed_in?
      %h3 Write a Review
      =render partial: "reviews/review_form", locals: {book: @book}
    - else
      %p.text-center.h1
        To leave a review for this book
        = link_to "Log in", new_user_session_path, class: 'in-gold-500'