%main.container
  %a.general-back-link{href: "#{session[:forwarding_url]}"}
    %i.fa.fa-long-arrow-left.mr-15
    = t('back')
  = render @book
  .mb-80
    - if @book.reviews.any?
      %h3.in-gold-500.mb-25= "Reviews (#{@book.reviews.count})"
    %ul.media-list
      = render @book.reviews
    - if can? :create, Review
      %h3= t('write_review')
      =render partial: "reviews/reviews_form", locals: {book: @book}
    - else
      %p.text-center.h1
        To leave a review for this book
        = link_to t('login'), new_user_session_path, class: 'in-gold-500'