- if @order_items.any?
  %main.container.general-main-wrap
    %h1.general-title-margin Cart
    = render "mobile_items"
    = render "items"
    .general-order-wrap
      .row
        .col-sm-4
          .input-group.general-input-group
            %label.font-weight-light Enter Your Coupon Code
            %input.form-control.mb-30{type: "text", placeholder: "Enter Your Coupon Code "}
            %div
              %button.btn.btn-primary.mb-15.res-block Update cart
        .col-sm-8
          .res-mr-200.text-center.general-text-right
            %p.in-gold-500.font-18 Order Summary
            %table.general-summary-table.general-summary-table-right.general-text-right
              %tr
                %td
                  %p.font-16 Subtotal:
                %td
                  %p.font-16= number_to_currency(current_order.subtotal, unit: '€')
              %tr
                %td
                  %p.font-16 Coupon:
                %td
                  %p.font-16 €0.00
              %tr
                %td
                  %strong.font-18 Order Total:
                %td
                  %strong.font-18= number_to_currency(current_order.subtotal, unit: '€')
            %button.btn.btn-default.mb-20.visible-xs-inline-block Checkout
    = button_to "Checkout", checkouts_path, method: :get, class: "btn btn-default mb-20 hidden-xs center-block"
- else
  %h2.text-center You did not add to cart anything