%main.container
  = render "checkout_status"
  = form_tag(wizard_path, method: :put) do
    = hidden_field_tag "billing[address_type]", "billing"
    = hidden_field_tag "shipping[address_type]", "shipping"
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .col-md-5.col-md-offset-1
          %h3.general-subtitle Shipping Address
    .row
      = render "billing_form"
      = render "shipping_form"
    .general-text-align.mb-60
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        %tr
          %td
            %p.font-16 Item Total:
          %td
            %p.font-16= number_to_currency(current_order.subtotal, unit: '€')
        %tr
          %td
            %p.font-16 Order Total:
          %td
            %p.font-16= number_to_currency(current_order.subtotal, unit: '€')
      = submit_tag "Save and Continue", method: :put, class: "btn btn-default center-block mb-20"