%main.container.general-main-wrap
  = render "checkout_status"
  %h3.general-subtitle Delivery
  = form_tag(wizard_path, method: :put) do
    .visible-xs
      = render "mobile_delivery_list"
    .hidden-xs.mb-res-50
      = render "delivery_list"
    .general-text-align
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        =render "summary"
    .text-center
      = submit_tag "Save and Continue", class: "btn btn-default center-block mb-20"