%main.container
  %h1.general-title-margin= t('catalog')
  .hidden-xs.clearfix
    .pull-right
      = render partial: "sort_dropdown", locals: {width: 240}
    %ul.list-inline.pt-10.mb-25.mr-240
      - categories_list.each do |category|
        %li.mr-35{:class => "#{"active" if @category == category}"}
          = link_to category_path(category, sort_type: params[:sort_type]), class: "filter-link" do
            = category.title
            %span.badge.general-badge= category.books.count
  .mb-40.visible-xs
    %p.in-grey-600.small.mb-10= t('category_filter')
    .dropdown.mb-20
      %a.dropdown-toggle.dropdown-btn.width-100{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        = @category.title
        %i.fa.fa-angle-down.dropdown-icon
      %ul.dropdown-menu
        - categories_list.each do |category|
          %li
            = link_to category.title, category_path(category, sort_type: params[:sort_type])
    %p.in-grey-600.small.mb-10= t('sort_by')
    = render partial: "sort_dropdown", locals: {width: 100}
  .mb-120
    - @sorted_books.each_slice(4) do |book_row|
      = render partial: "books_row", locals: {books: book_row}
    .text-center
      = paginate @sorted_books.object